@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
p,
button {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

h1 {
  margin: 1rem 0;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1:hover, h1:focus {
  cursor: pointer;
  color: #5ba4a4;
}

h1:active {
  text-decoration: underline;
}

h2 {
  display: inline;
  font-size: 0.8rem;
  line-height: 14px;
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7b8e8e;
}

body {
  position: relative;
  margin-bottom: 5rem;
  background-color: #effafa;
}

body::before {
  position: absolute;
  content: "";
  height: 10rem;
  left: 0;
  right: 0;
  background-color: #5ba4a4;
  background-image: url("../images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.bgHelper {
  padding: 0 2rem;
  padding-top: 5rem;
}

@media screen and (min-width: 70rem) {
  .bgHelper {
    margin: 0 auto;
    max-width: 70rem;
  }
}

#filterBox {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#btnClearAllFilters {
  display: block;
  padding: 0 0.2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #7b8e8e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#btnClearAllFilters:hover, #btnClearAllFilters:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #5ba4a4;
}

#filterItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.filterItem {
  height: 2rem;
  border-radius: 8px;
  background-color: #effafa;
  overflow: hidden;
}

.filterText {
  display: inline-block;
  padding: 0 0.6rem;
  height: 100%;
  color: #5ba4a4;
  font-weight: 700;
}

.btnRemoveFilterItem {
  width: 2rem;
  height: 100%;
  border: none;
  background-color: #5ba4a4;
  background-image: url("../images/icon-remove.svg");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btnRemoveFilterItem:hover, .btnRemoveFilterItem:focus {
  cursor: pointer;
  background-color: black;
}

.itemBox {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: white;
}

.dot {
  padding: 0 0.2rem;
  color: #7b8e8e;
}

img {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -1.4rem;
}

@media screen and (min-width: 60rem) {
  img {
    width: 100px;
    height: 100px;
    top: 1rem;
    left: 1.4rem;
  }
}

.jobItem {
  position: relative;
  margin-top: 4rem;
}

@media screen and (min-width: 60rem) {
  .jobItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
}

.jobDescriptionBox {
  margin: 0.8rem 0 1.3rem 0;
}

@media screen and (min-width: 60rem) {
  .jobDescriptionBox {
    margin: 0;
    margin-left: 8rem;
  }
}

.jobCompany {
  margin-right: 1rem;
  color: #5ba4a4;
}

.tagNew,
.tagFeatured {
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: white;
  z-index: 5;
}

.tagNew::after,
.tagFeatured::after {
  position: absolute;
  content: "";
  height: 30px;
  top: -10px;
  left: -9px;
  border-radius: 16px;
  z-index: -1;
}

.tagFeatured::after {
  width: 81px;
  background-color: #2c3a3a;
}

.tagNew {
  margin-right: 1.5rem;
}

.tagNew::after {
  width: 53px;
  background-color: #5ba4a4;
}

.itemFeatured {
  position: absolute;
  width: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 16px;
  overflow: hidden;
}

.itemFeatured::after {
  position: absolute;
  content: "";
  width: 0.5rem;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #5ba4a4;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  border-top: 1px solid #7b8e8e;
}

@media screen and (min-width: 60rem) {
  .tags {
    border: none;
  }
}

.tagItem {
  padding: 0.7rem 0.4rem;
  border: none;
  border-radius: 8px;
  background-color: #effafa;
  font-size: 0.8rem;
  color: #5ba4a4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tagItem:hover {
  cursor: pointer;
  background-color: #5ba4a4;
  color: white;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=main.css.map */