@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
button {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

p {
  font-weight: 500;
}

#filterBox {
  display: flex;
}

#btnClearAllFilters {
  border: 1px solid gray;
  color: $darkGrayishCyan;
  background-color: transparent;
  padding: 0 0.2rem;
  display: block;
  height: 2rem;
  align-self: center;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

#filterItems {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filterItem {
  border-radius: 8px;
  overflow: hidden;
  height: 2rem;
  background-color: $lightGrayishCyanBg;
}

.filterText {
  display: inline-block;
  padding: 0 0.6rem;
  font-weight: 700;
  color: $desaturatedDarkCyan;
  height: 100%;
}

.btnRemoveFilterItem {
  background-color: $desaturatedDarkCyan;
  background-image: url("../images/icon-remove.svg");
  height: 100%;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.itemBox {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 16px;
}

.dot {
  color: $darkGrayishCyan;
  padding: 0 0.2rem;
}

h2 {
  font-size: 0.8rem;
  display: inline;
  line-height: 14px;
}

h1 {
  font-size: 1rem;
  margin: 1rem 0;
}

p {
  color: $darkGrayishCyan;
  font-size: 0.8rem;
}

img {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -1.4rem;
}

.jobItem {
  position: relative;
  margin-top: 4rem;
}

.jobDescriptionBox {
  margin: 0.8rem 0 1.3rem 0;
}

.jobCompany {
  color: $desaturatedDarkCyan;
  margin-right: 1rem;
}

.tagNew,
.tagFeatured {
  text-transform: uppercase;
  border-radius: 16px;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.7rem;
}

.tagFeatured {
  background-color: $veryDarkGrayishCyan;
}

.tagNew {
  background-color: $desaturatedDarkCyan;
}

.itemFeatured {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 16px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.5rem;
    background-color: $desaturatedDarkCyan;
  }
}

.tags {
  border-top: 1px solid $darkGrayishCyan;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.tagItem {
  background-color: $lightGrayishCyanBg;
  color: $desaturatedDarkCyan;
  border-radius: 8px;
  padding: 0.7rem 0.4rem;
  border: none;
  font-size: 0.8rem;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

body {
  position: relative;
  background-color: $lightGrayishCyanBg;

  &::before {
    position: absolute;
    content: "";
    height: 10rem;
    left: 0;
    right: 0;
    background-image: url("../images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-color: $desaturatedDarkCyan;
    background-size: cover;
    z-index: -1;
  }
}

.bgHelper {
  padding: 0 2rem;
  padding-top: 5rem;
}
